 <%# encoding: UTF-8 %>
<p id="notice"><%= notice %></p>



<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% content_for(:title, 'Login') %></title>
    <%= stylesheet_link_tag "task_lists", :media => "all" %>

</head>
<body>
    <%= javascript_pack_tag 'login' %>
    <%= stylesheet_pack_tag 'login' %> 
</body>